@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&family=Roboto+Slab&display=swap');
/* =========================================
              Website Resets
============================================ */
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	line-height: calc(1em + 1ex);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

*::-moz-focus-inner {
	border: 0;
}

*:focus {
	outline: none;
}

/*font-family: 'Roboto Mono', monospace;
font-family: 'Roboto Slab', serif;*/

/*===================================================
          root, html, body, and common styles
======================================================*/
:root {
	--ff-heading: 'Roboto Slab', serif;
	--ff-body: 'Roboto Mono', monospace;

	--clr-gray-00: #fafbfc;
	--clr-gray-02: #e1e4e8;
	--clr-gray-04: #959da5;
	--clr-gray-06: #585069;
	--clr-gray-08: #2f363d;
	--clr-gray-10: #161f23;

	--clr-loader: #003e6b;

	/* dark shades of primary color*/
	--clr-primary-1: hsl(205, 86%, 17%);
	--clr-primary-2: hsl(205, 77%, 27%);
	--clr-primary-3: hsl(205, 72%, 37%);
	--clr-primary-4: hsl(205, 63%, 48%);
	/* primary/main color */
	--clr-primary-5: hsl(205, 78%, 60%);
	/* lighter shades of primary color */
	--clr-primary-6: hsl(205, 89%, 70%);
	--clr-primary-7: hsl(205, 90%, 76%);
	--clr-primary-8: hsl(205, 86%, 81%);
	--clr-primary-9: hsl(205, 90%, 88%);
	--clr-primary-10: hsl(205, 100%, 96%);
	/* darkest grey - used for headings */
	--clr-grey-1: hsl(209, 61%, 16%);
	--clr-grey-2: hsl(211, 39%, 23%);
	--clr-grey-3: hsl(209, 34%, 30%);
	--clr-grey-4: hsl(209, 28%, 39%);
	/* grey used for paragraphs */
	--clr-grey-5: hsl(210, 22%, 49%);
	--clr-grey-6: hsl(209, 23%, 60%);
	--clr-grey-7: hsl(211, 27%, 70%);
	--clr-grey-8: hsl(210, 31%, 80%);
	--clr-grey-9: hsl(212, 33%, 89%);
	--clr-grey-10: hsl(210, 36%, 96%);
	--clr-white: #fff;
	--clr-red-dark: hsl(360, 67%, 44%);
	--clr-red-light: hsl(360, 71%, 66%);
	--clr-green-dark: hsl(125, 67%, 44%);
	--clr-green-light: hsl(125, 71%, 66%);
	--clr-black: #222;

	--transition: all 0.3s linear;
	--spacing: 0.1rem;
	--radius: 0.25rem;
	--light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
	--dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
	--max-width: 1170px;
	--fixed-width: 620px;
}

html {
	font-size: 100%;
} /*16px*/

body {
	background: white;
	font-family: var(--ff-body);
	font-weight: 400;
	line-height: 1.75;
	color: #000000;
	color: var(--clr-gray-10);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

p {
	margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
	margin: 1em 0 1.25em;
	font-family: var(--ff-heading);
	font-weight: 400;
	line-height: 1.3;
}

h1 {
	margin-top: 0;
	font-size: 2.488rem;
}

h2 {
	font-size: 2.074rem;
}

h3 {
	font-size: 1.728rem;
}

h4 {
	font-size: 1.44rem;
}

h5 {
	font-size: 1.2rem;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}

small,
.text_small {
	font-size: 0.833rem;
}

/*=============================================
            app 
================================================*/

.app {
	display: flex;
	flex-direction: column;
	margin: 0;
}

.app-logo {
	height: 5vmin;
	margin-top: 1em;
	pointer-events: none;
	animation: app-logo-spin infinite 20s linear;
}

@media (prefers-reduced-motion: no-preference) {
	.app-logo {
		animation: app-logo-spin infinite 20s linear;
	}
}

.app-header {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	z-index: 10000;
	width: 100vw;
	min-height: 10vh;
	min-width: 100vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	margin-bottom: 1em;
	text-align: center;
	font-size: calc(6px + 1vmin);
	color: white;
	background-color: #282c34;
}
.app-header h1 {
	margin-bottom: 0.5em;
}

/*tablet landscape and desktop layout (960px or more) */
@media only screen and (min-width: 960px) {
	/*...tablet landscape and desktop styles */
}

/*table portrait layout (768px to 959px) */
@media only screen and (max-width: 959px) {
	/*... tablet portrait styles */
}

/*mobile landscape layout (480px to 767px) */
@media only screen and (max-width: 767px) {
	/*...mobile landscape styles */
	html {
		font-size: 75%;
	}
}

/*mobile portrait layout (479px or less) */
@media only screen and (max-width: 320px) {
	/*...mobile portrait styles */
	html {
		font-size: 62.5%;
	}
}

/*=============================================
          main
================================================*/
div.loading {
  width: 100%;
	text-align: center;
	margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5rem;
}

section.loading-circle {
	display: inline-block;
	width: 64px;
	height: 64px;
	margin: 8px;
	border-radius: 50%;
	background-color: var(--clr-primary-5);
	animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.loading-text {
	color: var(--clr-loader);
	-webkit-animation: flicker-4 2s linear infinite both;
	animation: flicker-4 2s linear infinite both;
}

/*=============================================
            Pagination
================================================*/
.section-title {
	text-align: center;
	margin: 4rem 0 6rem 0;
}
.underline {
	width: 8rem;
	height: 0.25rem;
	background: var(--clr-primary-5);
	margin: 0 auto;
}
.followers {
	width: 90vw;
	max-width: var(--max-width);
	margin-top: 9rem;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 3rem;
}
.container {
	display: grid;
	gap: 2rem;
	margin-bottom: 4rem;
}
@media screen and (min-width: 576px) {
	.container {
		grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	}
}
.card {
	background: var(--clr-white);
	border-radius: var(--radius);
	box-shadow: var(--light-shadow);
	padding: 2rem 3.5rem;
	text-align: center;
}
.card img {
	width: 130px;
	height: 130px;
	border-radius: 50%;
	object-fit: cover;
	margin-bottom: 0.75rem;
	margin-bottom: 0;
}

.card h4 {
	margin-bottom: 1.5rem;
	font-size: 0.85rem;
	color: var(--clr-grey-5);
}

.btn {
	padding: 0.35rem 0.75rem;
	letter-spacing: 1.6px;
	font-size: 0.75rem;
	color: var(--clr-white);
	background: var(--clr-primary-5);
	border-radius: var(--radius);
	border-color: transparent;
	text-transform: uppercase;
	transition: var(--transition);
	cursor: pointer;
}

.btn-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.page-btn {
	width: 2rem;
	height: 2rem;
	background: var(--clr-primary-7);
	border-color: transparent;
	border-radius: 5px;
	cursor: pointer;
	margin: 0.5rem;
	transition: var(--transition);
}
.active-btn {
	background: var(--clr-primary-1);
	color: var(--clr-white);
}
.prev-btn,
.next-btn {
	background: transparent;
	border-color: transparent;
	font-weight: bold;
	text-transform: capitalize;
	letter-spacing: var(--spacing);
	margin: 0.5rem;
	font-size: 1rem;
	cursor: pointer;
}

@media screen and (min-width: 775px) {
	.btn-container {
		margin: 0 auto;
		max-width: 700px;
	}
}

/*=============================================
          keyframe app-log-spin
================================================*/
@keyframes app-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
/*=============================================
          keyframe flicker-4
================================================*/
/* ----------------------------------------------
 * Generated by Animista on 2021-9-24 5:50:38
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
@-webkit-keyframes flicker-4 {
	0%,
	100% {
		opacity: 1;
	}
	31.98% {
		opacity: 1;
	}
	32% {
		opacity: 0;
	}
	32.8% {
		opacity: 0;
	}
	32.82% {
		opacity: 1;
	}
	34.98% {
		opacity: 1;
	}
	35% {
		opacity: 0;
	}
	35.7% {
		opacity: 0;
	}
	35.72% {
		opacity: 1;
	}
	36.98% {
		opacity: 1;
	}
	37% {
		opacity: 0;
	}
	37.6% {
		opacity: 0;
	}
	37.62% {
		opacity: 1;
	}
	67.98% {
		opacity: 1;
	}
	68% {
		opacity: 0;
	}
	68.4% {
		opacity: 0;
	}
	68.42% {
		opacity: 1;
	}
	95.98% {
		opacity: 1;
	}
	96% {
		opacity: 0;
	}
	96.7% {
		opacity: 0;
	}
	96.72% {
		opacity: 1;
	}
	98.98% {
		opacity: 1;
	}
	99% {
		opacity: 0;
	}
	99.6% {
		opacity: 0;
	}
	99.62% {
		opacity: 1;
	}
}
@keyframes flicker-4 {
	0%,
	100% {
		opacity: 1;
	}
	31.98% {
		opacity: 1;
	}
	32% {
		opacity: 0;
	}
	32.8% {
		opacity: 0;
	}
	32.82% {
		opacity: 1;
	}
	34.98% {
		opacity: 1;
	}
	35% {
		opacity: 0;
	}
	35.7% {
		opacity: 0;
	}
	35.72% {
		opacity: 1;
	}
	36.98% {
		opacity: 1;
	}
	37% {
		opacity: 0;
	}
	37.6% {
		opacity: 0;
	}
	37.62% {
		opacity: 1;
	}
	67.98% {
		opacity: 1;
	}
	68% {
		opacity: 0;
	}
	68.4% {
		opacity: 0;
	}
	68.42% {
		opacity: 1;
	}
	95.98% {
		opacity: 1;
	}
	96% {
		opacity: 0;
	}
	96.7% {
		opacity: 0;
	}
	96.72% {
		opacity: 1;
	}
	98.98% {
		opacity: 1;
	}
	99% {
		opacity: 0;
	}
	99.6% {
		opacity: 0;
	}
	99.62% {
		opacity: 1;
	}
}

/*=============================================
          keyframe lds-circle
================================================*/
.lds-circle {
	display: inline-block;
	width: 64px;
	height: 64px;
	margin: 8px;
	border-radius: 50%;
	background: #fff;
	animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
@keyframes lds-circle {
	0%,
	100% {
		animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
	}
	0% {
		transform: rotateY(0deg);
	}
	50% {
		transform: rotateY(1800deg);
		animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
	}
	100% {
		transform: rotateY(3600deg);
	}
}
